button{
    display: block;
    background-color: #669966; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
 
}

h1{
    text-align: center;
}
button:hover{
    background-color: #83c383;
    box-shadow: black;
}

.divGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    
}

.one { grid-area: 1 / 2 / 2 / 3; }
.two { grid-area: 2 / 2 / 3 / 3; }
.three { grid-area: 3 / 2 / 4 / 3; }
.four { grid-area: 4 / 2 / 5 / 3; }
.five { grid-area: 5 / 2 / 6 / 3; } 